.subject {
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
}

.border {
	border: 1px solid #ddd;
}

.fast-spin {
  -webkit-animation: fa-spin 1.2s infinite linear;
  animation: fa-spin 1.2s infinite linear;
}

.ellipsis-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
